/* src/components/InquiryTable.css */
@import "../styles/FontFamily.css";
.beautiful-title {
  font-family: "Dancing Script", "Pacifico", cursive, sans-serif;
  font-size: 2.8rem;
  color: #000000;
  text-align: center;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
  text-shadow: 1px 2px 8px #e1bee7;
}
.inquiry-container {
  padding: 20px;
  width: 100%;
  margin: auto;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .inquiry-heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
} */

.inquiry-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures the table takes full width */
  margin: 0 auto; /* Center in the container */
  border-radius: 0; /* No rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inquiry-table th,
.inquiry-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.inquiry-table th {
  background-color: #4caf50;
  color: white;
  font-size: 1.1em;
}

.inquiry-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .inquiry-table th,
  .inquiry-table td {
    padding: 10px;
    font-size: 0.9em;
  }
  /* .inquiry-heading {
    font-size: 1.5em;
  } */
}
